<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCuEoLjIcAvo1M_sRIONOms86F3yQ9S-k</string>
	<key>GCM_SENDER_ID</key>
	<string>442058714841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grumane.grumane</string>
	<key>PROJECT_ID</key>
	<string>grumane-3d818</string>
	<key>STORAGE_BUCKET</key>
	<string>grumane-3d818.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442058714841:ios:a80871002d5a44758158c8</string>
</dict>
</plist>